.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #080424;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #9198e5; /*linear-gradient(#e66465, #9198e5); */
  }
  
  button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #61dafb;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #5bc0de;
  }